

.root
{
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-background-color: aqua;
    -fx-font-family: papyrus;
}
.label
{
    -fx-text-alignment: center;
    -fx-font-family: papyrus;
    -fx-font-size: 12pt;
    -fx-font-style: normal;
}
.menu-bar
{
    -fx-background-color: red;
}

